*, *::after, *::before {
	box-sizing: border-box;
}

input,
textarea,
button,
select,
a {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

a, a:hover, a:active, a:focus {
	text-decoration: none;
	transition: .3s;
}

p {
	margin: 0;
	line-height: 2.8rem;
}

img {
	max-width: 100%;
	max-height: 100%;
	display: block;
}

button {
	padding: 0;
	outline: none;
	border: none;
	transition: .3s;
	cursor: pointer;

	&:active {
		outline: none;
	}
}

input, textarea {
	outline: none;
}

input[type='checkbox'] {
	width: 0;
	height: 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

button:focus {
	outline: none;
}

html, body {
	height: 100%;
}

html {
	font-size: 62.5%;
}

body {
	-webkit-font-smoothing: antialiased;
	user-select: none;
	min-height: 100vh;
	height: auto;
	position: relative;
	font-family: $primary-font;
	font-size: $primary-size;
	color: $c-black;
	display: flex;
	flex-direction: column;
	line-height: 2.6rem;
	overflow-x: hidden;
	background-color: $c-white;

	@include MQ(XXL) {
		font-size: $primary-size - .6rem;
	}

	@include MQ(XL) {
		font-size: $primary-size - 1.2rem;
	}

	&::before {
		content: 'desktop';
		display: none;
	}
	&.scroll-vertical {
		overflow-y: scroll;
	}

	&.active {
		overflow: hidden;
	}
}
