.header {
	background-color: $c-yellow;
	padding: 4rem;

	@include MQ(XL) {
		padding: 3rem 2rem;
	}

	@include MQ(M) {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 1.5rem 2rem;
	}

	&-purchase {

		&:hover {
			opacity: .5;
		}
	}

	&__wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__mobile {

		&-wrapper {
			position: fixed;
			top: 0;
			left: 0;
			width: 100vw;
			height: 100vh;
			background: $c-yellow;
			z-index: 1;
			flex-direction: column;
			display: none;
			transform: translateX(-100%);
			transition: .5s;

			&.active {
				transform: translateX(0);
			}

			@include MQ(M) {
				@include flex-center();
			}
		}

		&-close {
			width: 3rem;
			height: 3rem;
			position: absolute;
			right: 2rem;
			top: 2rem;
			@include btn-close() {
				height: .2rem;
				width: 100%;
				background-color: $c-black;
			}
		}
	}

	&__burger {
		width: 3rem;
		height: 2.2rem;
		flex-direction: column;
		justify-content: space-between;
		display: none;

		@include MQ(M) {
			display: flex;
		}

		&-line {
			display: block;
			width: 100%;
			height: .2rem;
			background-color: $c-black;
		}
	}
}