.form {
  margin: 30px auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid black;
  padding: 32px;
}

.form.view-l {
  padding-left: 2%;
  padding-right: 4%;
}

.form.view-l .label {
  margin-right: 2%;
}

.form.view-l .label:last-child {
  margin: 0;
}

.form.view-m {
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  padding-left: 0%;
  padding-right: 0%;
}

.form.view-m .label {
  width: 44%;
  margin: 0 4% 20px;
}

.form.view-m .label:nth-child(even) {
  margin: 0 0 20px;
}

.form.view-s {
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  padding-left: 0%;
  padding-right: 0%;
}

.form.view-s .label {
  width: 88%;
  margin: 0 10% 20px;
}

.input {
  display: block;
  font-size: 13px;
  height: 30px;
  padding: 10px;
  margin-top: 10px;
  width: 100%;
}

.label {
  margin-right: 32px;
  width: 100%;
  max-width: 480px;
  position: relative;
  padding-bottom: 20px;
}

.label:last-child {
  margin: 0;
}

.label.view-error .error {
  opacity: 1;
}

.label.view-error .input {
  border-color: red;
}

.error {
  position: absolute;
  bottom: 0;
  left: 0;
  color: red;
  font-size: 13px;
  opacity: 0;
}