header.header
	.header__mobile-wrapper
		.header__mobile-close
	.header__wrapper
		a.logo(href="#")
			img.logo__img(src="img/logo.png", alt="#")
		nav.navigation
			ul.navigation__list
				li.navigation__item.current_page_item
					a.link(href="#") причины
				li.navigation__item
					a.link(href="#") помощь
				li.navigation__item
					a.link(href="#") применение
				li.navigation__item
					a.link(href="#") преимущества
				li.navigation__item
					a.link(href="#") дополнительно
		a.link.view-bold.header-purchase(href="#") купить
	.header__burger
		span.header__burger-line
		span.header__burger-line
		span.header__burger-line