doctype html
html(lang="en")
	head
		title example
		meta(charset="UTF-8")
		meta(name="viewport" content="height=device-height,width=device-width,initial-scale=1.0,maximum-scale=1.0")
		meta(name="format-detection" content="telephone=no")
		link(rel="stylesheet", href="css/form.css")
		link(rel="stylesheet", href="css/style.css")
	body
		header.header header
		.wrapper
			aside.aside side menu
			article.article
				p.content  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque illo, labore optio ab omnis eos, eius corrupti cum! Ad eaque, consequatur accusamus porro eligendi. Ipsum tempora, repellendus hic, eum dolor in asperiores ut molestiae voluptatem sint eos, dolorum magni illo.
				.form__wrapper
					form.form
						label.label
							| * Фамилия
							input.input(type="text" placeholder="Фамилия" required)
							p.error обязательное поле
						label.label.view-error
							| * Имя
							input.input(type="text" placeholder="Имя" required)
							p.error обязательное поле
						label.label
							| Отчество
							input.input(type="text" placeholder="Отчество")
							p.error обязательное поле
				p.content  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla atque placeat rem, cumque consequatur! Et animi debitis sequi possimus. Officia maiores repellendus cupiditate rerum laborum! Quasi, pariatur error. Laboriosam quae voluptas minima, dolorum ullam! Possimus perferendis sunt voluptatum quaerat doloribus.
		footer.footer footer

	script(src="js/index.js")
		
