@font-face {
	font-family: 'HelveticaNeueCyr-Black';
	src:  url('../fonts/HelveticaNeueCyr-Black.woff2') format('woff2'),
	url('../fonts/HelveticaNeueCyr-Black.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'HelveticaNeueCyr-Bold';
	src:  url('../fonts/HelveticaNeueCyr-Boldwoff2') format('woff2'),
	url('../fonts/HelveticaNeueCyr-Bold.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'HelveticaNeueCyr-Medium';
	src:  url('../fonts/HelveticaNeueCyr-Medium.woff2') format('woff2'),
	url('../fonts/HelveticaNeueCyr-Medium.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}