// colors

$c-white: #ffffff; // white
$c-black: #000000; // black
$c-yellow: #f7d14c; // pink


// fonts
$bold-font: 'HelveticaNeueCyr-Bold', arial, sans-serif;
$black-font:'HelveticaNeueCyr-Black', arial, sans-serif;
$primary-font:'HelveticaNeueCyr-Medium', arial, sans-serif;


//size
$title-size: 9rem;
$primary-size: 3rem;