.title {
	font-family: 'PT Serif', serif;
	font-size: 4rem;
	line-height: 5.6rem;
	font-weight: bold;
	margin: 7.2rem 0 4rem;
	text-align: center;
	color: #009688;

	@include MQ(L) {
		font-size: 3.2rem;
		line-height: 4.8rem;
		margin: 5.6rem 0 4rem;
	}

	@include MQ(S) {
		font-size: 2.8rem;
		line-height: 4rem;
		margin: 4rem 0;
		padding: 0 1.5rem;
	}

	&.view-middle {
		font-family: 'Open Sans', sans-serif;
		font-size: 2rem;
		line-height: 3.2rem;
		color: white;
		padding: 3.2rem;
		margin: 0;
		text-align: left;
		position: absolute;
		bottom: 0;
		transition: .3s;

		@include MQ(S) {
			font-size: 1.8rem;
			line-height: 2.8rem;
		}
	}
}